
:host {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button, a {
  border: 1px solid transparent;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  padding: calc(.5rem - 1px) calc(1rem - 1px); /* minus 1px to compensate for the border */
  transition: all .1s ease-in;
}
button:hover, a:hover {
  transition: all .2s ease-in;
}

button {
  background-color: #677bd5;
}
button:hover {
  background-color: #3a4da5;

}
button[disabled] {
  opacity: .6;
}

button.ghost {
  background-color: transparent;
  color: #677bd5;
  border-color: currentColor;
}
button.ghost:hover {
  color: #fff;
  background-color: #3a4da5;
}
button.pill {
  border-radius: 2rem;
}

a {
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
a:hover {
  text-decoration: underline;
}
