:host {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([disabled]) {
  pointer-events: none;
}
:host([type=icon]) {
  height: calc(2.5em - 0px);
  width: calc(2.5em - 0px);
}
::slotted(evb-icon) {
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  padding-top: .25rem;
  fill: currentColor;
}
button[type=icon] {
  padding: 0;
  width: 100%;
  height: 100%;
}

button, a {
  border: 1px solid transparent;
  color: var(--evb-text-color-invert);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  padding: calc(.5rem - 1px) calc(1rem - 1px); /* minus 1px to compensate for the border */
  transition: all .1s ease-in;
}
button:hover, a:hover {
  transition: all .2s ease-in;
}

button {
  background-color: var(--evb-primary-color);
}
button:hover {
  background-color: var(--evb-primary-color-darker);
}
button.secondary {
  background-color: var(--evb-secondary-color);
}
button.secondary:hover {
  background-color: var(--evb-secondary-color-darker);
}
button.danger {
  background-color: var(--evb-danger-color);
}
button.danger:hover {
  background-color: var(--evb-danger-color-darker);
}

button[disabled] {
  opacity: .6;
  pointer-events: none;
}
button.link {
  background-color: transparent;
  color: var(--evb-primary-color);
  cursor: pointer;
  text-decoration: none;
}
button.link:hover {
  background-color: transparent;
  text-decoration: underline;
}
button.secondary.link {
  color: var(--evb-secondary-color);
}
button.danger.link {
  color: var(--evb-danger-color);
}
button.ghost {
  background-color: transparent;
  color: var(--evb-primary-color);
  border-color: currentColor;
}
button.ghost:hover {
  color: var(--evb-text-color-invert);
  background-color: var(--evb-primary-color-darker);
}
button.secondary.ghost {
  color: var(--evb-secondary-color);
}
button.secondary.ghost:hover {
  background-color: var(--evb-secondary-color);
  color: var(--evb-text-color-invert);
}
button.danger.ghost {
  color: var(--evb-danger-color);
}
button.danger.ghost:hover {
  background-color: var(--evb-danger-color);
  color: var(--evb-text-color-invert);
}
button.pill {
  border-radius: 2rem;
}

a {
  color: var(--evb-primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.secondary {
  color: var(--evb-secondary-color);
}
a.danger {
  color: var(--evb-danger-color);
}
