:host {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

::slotted(input), ::slotted(textarea) {
  border: 1px solid var(--evb-border-light);
  line-height: normal;
  padding: calc(.5rem - 1px);
  width: 100%;
}

::slotted(textarea) {
  resize: vertical;
  height: 10em;
}

::slotted(input:focus), ::slotted(textarea:focus) {
  border-color: var(--evb-primary-color);
  outline: 0;
}

::slotted(::placeholder) {
  color: var(--evb-border-light);
}
