:host {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

:host(.vertical) {
  align-items: flex-start;
  flex-direction: column;
}

::slotted(input), ::slotted(textarea), ::slotted(select), ::slotted(option){
  border: 1px solid var(--evb-border-light);
  flex: 2 1 auto;
  font-size: 1em;
  line-height: normal;
  padding: calc(.5rem - 1px);
  width: calc(100% - 1rem);
}

::slotted(evb-range) {
  padding: .5rem 0;
}

::slotted(input:focus), ::slotted(textarea:focus) {
  border-color: var(--evb-primary-color);
  outline: 0;
}

::slotted(::placeholder) {
  color: var(--evb-border-light);
}

::slotted(label) {
  margin: .5rem;
  margin-left: 0;
  max-width: 25%;
  width: 150px;
}
