:host {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

::slotted(input), ::slotted(textarea) {
  border: 1px solid var(--evb-border-light);
  font-size: 1em;
  line-height: normal;
  padding: calc(.75rem - 1px);
  width: 100%;
}

::slotted(evb-range) {
  padding: .5rem 0;
}

::slotted(input:focus), ::slotted(textarea:focus) {
  border-color: var(--evb-primary-color);
  outline: 0;
}

::slotted(::placeholder) {
  color: var(--evb-border-light);
}
