:root {
  --evb-primary-color: #677bd5;
  --evb-primary-color-darker: #3a4da5;

  --evb-secondary-color: #ababab;
  --evb-secondary-color-darker: #878686;

  --evb-danger-color: #b84f22;
  --evb-danger-color-darker: #96320e;

  --evb-border-light: #dbdbdb;
  --evb-background-light: #dbdbdb;

  --evb-text-color: #000;
  --evb-text-color-invert: #fff;
}

/*
 * Media Queries
 */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
