:host {
  display: flex;
  margin: 1rem 0;
}

:host(.justify-left) {
  justify-content: flex-start;
}
:host(.justify-center) {
  justify-content: center;
}
:host(.justify-right) {
  justify-content: flex-end;
}

:host(.align-top) {
  align-items: flex-start;
}
:host(.align-center) {
  align-items: center;
}
:host(.align-bottom) {
  align-items: flex-end;
}

::slotted(evb-button) {
  margin-left: 1rem;
}
::slotted(evb-button:first-child) {
  margin-left: 0;
}
