:host {
  align-items: center;
  display: flex;
  margin: 1rem;
}
:host(.justify-left) {
  justify-content: flex-start;
}
:host(.justify-center) {
  justify-content: center;
}
:host(.justify-right) {
  justify-content: flex-end;
}

::slotted(evb-button + evb-button) {
  margin-left: 8px;
}
